[Unit]
Description=Matrix based clock for RPI and node-red launcher 
Conflicts=pyOclock-day.service pyOclock.service

[Service]
Type=oneshot 
ExecStart=/usr/bin/python3 /home/pi/pyOclock/server/main.py --led-gpio-mapping=adafruit-hat --led-rows=16 --led-cols=32 --led-brightness 25 --led-pixel-mapper Rotate:180

[Install]
WantedBy=multi-user.target
